<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error al registrarse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="d-flex row m-3">
        <h1 class="my-3 text-center">ERROR AL REGISTRARSE</h1>
        <hr>
        <div class="d-flex row justify-content-end">
            <a class="btn btn-danger w-auto" href="/registro">REGISTRARSE</a>
        </div>
    </div>
</body>

</html>